In [1]:
# Dependencies
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,23,23,Ixtapa,MX,2021-04-30 20:21:18,20.7000,-105.2000,80.60,74,40,12.66
1,27,27,Sao Gabriel Da Cachoeira,BR,2021-04-30 20:24:07,-0.1303,-67.0892,77.00,88,40,5.75
2,30,30,Avarua,CK,2021-04-30 20:24:07,-21.2078,-159.7750,80.60,83,75,5.75
3,32,32,Rikitea,PF,2021-04-30 20:24:08,-23.1203,-134.9692,78.87,77,77,20.09
4,33,33,Pierre,US,2021-04-30 20:24:08,44.3683,-100.3510,78.01,28,1,21.85

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [4]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

KeyError: 'Hotel Name'

In [5]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Huarmey")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Rio de Janeiro")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Miraflores")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ponta Pora")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Rio de Janeiro")]

In [8]:
#6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = pd.DataFrame({"Huarmey": [-10.0678,-78.1561]}).to_numpy()
end = pd.DataFrame({"Rio de Janeiro": [-22.9083,-43.1964]}).to_numpy()
stop1 = pd.DataFrame({"Miraflores": [-12.1111, -77.0316]}).to_numpy()
stop2 = pd.DataFrame({"Ponta Pora": [-22.5231, -55.7243]}).to_numpy()
stop3 = pd.DataFrame({"Rio de Janeiro": [-22.9083,-43.1964]}).to_numpy()

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
Huarmey = (-10.0678,-78.1561)
Rio = (-22.9083,-43.1964)
Miraflores = (-12.1111, -77.0316)
Ponta_Pora = (-22.5231, -55.7243)

fig = gmaps.figure()
Huarmey_to_Rio = gmaps.directions_layer(
        Huarmey,Rio, waypoints=[Miraflores,Ponta_Pora],
        travel_mode = 'DRIVING')
fig.add_layer(Huarmey_to_Rio)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,
                         vacation_end],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,244,244,Huarmey,PE,2021-04-30 20:25:05,-10.0681,-78.1522,72.43,74,45,10.18
1,262,262,Ponta Pora,BR,2021-04-30 20:25:11,-22.5361,-55.7256,75.20,46,0,6.91

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [12]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

KeyError: 'Hotel Name'

In [13]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
marker_layer = gmaps.marker_layer(locations)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))